body {
  font-family: 'IBM Plex Sans KR', 'Noto Sans KR';
}
p {
  margin-bottom: 7px;
}
.myTravelTitle {
  font-weight: 600;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.643);
}
.img-stack {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.memberImg {
  align-items: end;
  margin-left: -20px; /* 이미지 겹치기 */
  z-index: 1; /* 쌓임 순서 조정 */
}
.myTravelsRow,
.invitedTravelsRow {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}

.cardsRow .col {
  display: inline-block;
  width: calc(50% - 10px);
}

.myTravelsRow .col,
.invitedTravelsRow .col {
  flex: 0 0 calc(15% - 10px);
  margin: 10px;
}

.travelCategory {
  margin-top: 3rem;
}
.oneDayList {
  width: 300px;
  height: 75vh;
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
}
.scheduleBox {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.color-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  margin: 2px;
  border: 2px solid transparent;
}

.color-box.selected {
  border: 2px solid black;
}
.theme-box {
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: inline-block;
}

/* 선택된 테마 스타일 */
.theme-box.selected {
  background-color: #79d1c3;
  color: white;
}
