body {
  font-family: 'IBM Plex Sans KR', 'Noto Sans KR';
}
a,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}
.h1Title {
  font-weight: 600;
}
.btn-sm {
  --bs-btn-padding-y: 0.1rem;
  --bs-btn-padding-x: 0.3rem;
  --bs-btn-font-size: 0.75rem;
}
