<!doctype html>
<html lang="en">
  <head>
    <%-include('../partials/head.ejs') %>
  </head>
  <body>
    <%-include('../partials/header.ejs') %>

    <div class="container card signUpContainer mt-5">
      <!-- 본문 -->
      <h3 class="text-center mb-4">회원가입</h3>
      <!-- Form Section -->
      <form id="users">
        <div class="mb-4 row">
          <!-- 이메일 확인 -->
          <label for="signupEmail">이메일</label>
          <div class="col-sm-8">
            <input id="signupEmail" class="form-control" type="text" placeholder="이메일" />
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-secondary input-group-text" id="auth-submit">
              인증번호전송
            </button>
          </div>
        </div>
        <!-- 인증번호 -->
        <div class="mb-5 row">
          <label for="authNumber">이메일 인증번호</label>
          <div class="col-sm-8">
            <input
              id="authNumber"
              class="form-control col-sm-8"
              type="text"
              placeholder="이메일 인증번호"
            />
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-secondary input-group-text" id="auth-check">
              인증확인
            </button>
          </div>
        </div>
        <hr class="mb-5" />
        <!-- 이름 -->
        <div class="mb-4">
          <label for="userInfoUserName">이름</label>
          <input id="name" class="form-control" required />
        </div>
        <!-- 비밀번호 -->
        <div class="mb-4">
          <label for="password">비밀번호</label>
          <input type="password" id="signupPassword" class="form-control" required />
        </div>
        <!-- 비밀번호 확인 -->
        <div class="mb-4">
          <label for="passwordConfirm">비밀번호 확인</label>
          <input type="password" id="passwordConfirm" class="form-control" required />
        </div>
        <div class="flex justify-end mt-4">
          <button type="button" id="signup" class="btn btn-primary form-control" disabled="true">
            회원가입
          </button>
        </div>
      </form>
      <!-- 본문 -->
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        console.log('하이');
      });

      document.getElementById('signup').addEventListener('click', async function (event) {
        event.preventDefault();
        try {
          const email = document.getElementById('signupEmail').value;
          const name = document.getElementById('name').value;
          const signupPassword = document.getElementById('signupPassword').value;
          const passwordConfirm = document.getElementById('passwordConfirm').value;

          await axios.post('/api/auth/register', {
            email: email,
            name: name,
            password: signupPassword,
            passwordConfirm: passwordConfirm,
          });

          alert('등록완료!');
          //홈으로 이동
          window.location.href = '/';
        } catch (error) {
          console.error(error.response.data.message);
          alert(error.response.data.message);
        }
      });

      let authNumber = 0;

      document.getElementById('auth-submit').addEventListener('click', async function () {
        console.log('이메일 인증 들어옴 - 브라우저');
        try {
          const email = document.getElementById('signupEmail').value;

          const result = await axios.post('/api/auth/email-check', {
            email,
          });

          console.log('인증번호:', result.data.authNumber);
          authNumber = result.data.authNumber;

          alert('메일함을 확인해 주세요');
        } catch (error) {
          console.error(error.response.data.message);
          alert(error.response.data.message);
        }
      });

      document.getElementById('auth-check').addEventListener('click', async function () {
        try {
          const enteredNumber = document.getElementById('authNumber').value;

          console.log('이메일 인증 번호', authNumber);
          console.log('입력받은 인증번호', enteredNumber);

          const result = await axios.post('/api/auth/auth-check', {
            enteredNumber,
            authNumber,
          });

          const success = result.data.success;
          console.log(success, result.data.message);

          const signupBtn = document.getElementById('signup');
          console.log(signupBtn.id, success == true);

          if (success == true) {
            console.log('야야야야');
            signupBtn.disabled = false;
          } else if (success == false) {
            console.log('호호호호');
            signupBtn.disabled = true;
          }

          alert(result.data.message);
        } catch (error) {
          console.error(error.response.data.message);
          alert(error.response.data.message);
        }
      });
    </script>
    <%-include('../partials/script.ejs') %>
  </body>
</html>
