<div
  style="
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url(https://images.unsplash.com/photo-1532649097480-b67d52743b69?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    height: 320px;
  "
  class="jumbotron bg-cover text-white"
>
  <div class="container py-5 text-center">
    <h1 class="display-4 h1Title">P를 위한 여행 가이드</h1>
    <p class="font-italic mb-3">아래 버튼을 눌러 여행 계획을 짜보세요</p>
    <button
      href="#"
      type="button"
      class="btn px-4"
      style="background-color: #ffffff"
      data-bs-toggle="modal"
      data-bs-target="#boardModal"
    >
      여행보드 생성
    </button>
  </div>
</div>
<div class="mb-4"></div>
